@model IEnumerable<BookReviewer.Models.Image>

<hr>
@using (Html.BeginForm("Create", "Images", FormMethod.Post, new { enctype="multipart/form-data" }))
{
  @Html.Hidden("reviewId", (object)ViewBag.ReviewId)
  @Html.Hidden("menu", (object)ViewBag.Menu)

  <div class="row">
    <div id="first_row"> 
      <div class="book-image">
        <label for="book_image_input">
          <img id="book_image" class="d-block" src="~/images/upload_image.png" asp-append-version="true">
        </label>
        <input id="book_image_input" type="file" name="ImageFile">         
      </div> 
      <div id="image_description">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>      
        <label for="Description" class="control-label">Description</label>
        <input id="Description" name="description" class="form-control" type="text" 
        data-val="true" data-val-length="The field Description must be a string with a maximum length of 500." 
        data-val-length-max="500" maxlength="500"/>    
      </div>    
      
      <div id="upload_image" class="bottom-menu">
          <button class="btn btn-primary" type="submit">Upload</button>
      </div>  
    </div>
    <div class="col-md-6"> 
      @if (Model.Count() > 0)
      {
        <div id="new_carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            @for (int i=0; i < Model.Count(); ++i)
            {
                @if (i == 0)
                {
                  <button type="button" data-bs-target="#new_carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>                    
                }
                else
                {
                  <button type="button" data-bs-target="#new_carousel" data-bs-slide-to="@i" aria-label='"Slide" + " @i+1"' ></button>                            
                }              
            }
          </ol>
          <div class="carousel-inner">
            @foreach (var item in Model)
            {
                @if (item == Model.First())
                {
                    <div class="carousel-item active">
                        <img class="d-block w-100" src='@Url.Action("GetImage", "Images", new { id = item.Id })'>
                        <div class="carousel-caption">
                          <p>
                            @item.Description
                          </p> 
                        </div>
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <img class="d-block w-100" src='@Url.Action("GetImage", "Images", new { id = item.Id })'>
                        <div class="carousel-caption">
                          <p>
                            @item.Description
                          </p> 
                        </div>                    
                    </div>       
                }
            }      
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#new_carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#new_carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      }
    </div>
    <div id="third_row"> 
    </div>
  </div>  
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!-- Load Book Cover Image  -->
<script>
    $(document).ready(function () {

        // Initialize row size of the first row
        if ( !$('#first_row').hasClass('col-md-2') ) {
          $('#first_row').addClass('col-md-2');
        }

        // Initialize row size of the third row
        if ( !$('#third_row').hasClass('col-md-4') ) {
          $('#third_row').addClass('col-md-4');
        }        
        if ( $('#third_row').hasClass('display-off') ) {
          $('#third_row').removeClass('display-off');
        }           

        // Hide Description field
        if ( !$('#image_description').hasClass('display-off') ) {
          $('#image_description').addClass('display-off');
        }

        // Hide Upload button
        if ( !$('#upload_image').hasClass('display-off') ) {
          $('#upload_image').addClass('display-off');
        }        
    });

    function loadBookImage(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        
        reader.onload = function(e) {
          $('#book_image').attr('src', e.target.result);
        }
        
        // Convert to base64 string
        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#book_image_input").change(function() {

        // Adjust row size of the first row
        if ( $('#first_row').hasClass('col-md-2') ) {
          $('#first_row').removeClass('col-md-2');
          $('#first_row').addClass('col-md-6');          
        }

        // Adjust row size of the third row
        if ( $('#third_row').hasClass('col-md-4') ) {
          $('#third_row').removeClass('col-md-4');          
          $('#third_row').addClass('display-off');
        }

        // Display Description field
        if ( $('#image_description').hasClass('display-off') ) {
          $('#image_description').removeClass('display-off');
          $('#image_description').addClass('display-on');
        }    

        // Display Upload button
        if ( $('#upload_image').hasClass('display-off') ) {
          $('#upload_image').removeClass('display-off');
          $('#upload_image').addClass('display-on');
        }   

        loadBookImage(this);
    });
</script>
