@model IEnumerable<BookReviewer.Models.Review>

@{
    ViewData["Title"] = ViewBag.Menu;       
}

<h1>@ViewData["Title"]</h1>

@if (ViewBag.Menu == "My Reviews")
{
    <br>
    <p>
        <a asp-action="Create">Create New Review</a>
    </p>
}

<table class="table">
    <thead>
        <tr>      
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookAuthors)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.IsbnNumber)
            </th>

            @if (ViewBag.Menu == "My Reviews")            
            {
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdateDate)
                </th>               
            }
            else
            {
                <th>
                    @("Published Date")
                </th>
            }

            @if (ViewBag.Menu == "My Reviews")
            {
                <th></th>
            }

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
    var bookCoverUrl = Url.Action("GetBookCover", "BookCovers", new { reviewId = item.Id }); 
        <tr>          
            <td class = "book-cover-icon">
                <a asp-action="Details" asp-route-id="@item.Id" asp-route-menu="@ViewBag.Menu">              
                <img src="@bookCoverUrl" asp-append-version="true">                 
                @Html.DisplayFor(modelItem => item.Subject)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookAuthors)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.IsbnNumber)
            </td>

            @if (ViewBag.Menu == "My Reviews")            
            {            
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            }

            <td>
                @item.UpdateDate.ToString("d")
            </td>

            @if (ViewBag.Menu == "My Reviews")
            {            
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>        
            }   

        </tr>
}
    </tbody>
</table>